advgen/pretrained/*
logs/*

raw_scenes_500
raw_scenes_hard*
tmp
output
models
goose_models

decision32/dataset
decision32/results

**/__pycache__
__pycache__

*.pyc
*.egg-info

safeshift/hard_viz*

reskill/reskill/results/saved_skill_models